---
import "../styles/global.css";
import Header from "../components/header.astro";
import Banner from "../components/banner.astro";
import Indextext from "../components/indextext.astro";
import Footer from "../components/footer.astro"
---


<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.typekit.net/ngv6hmh.css">
    <link rel="stylesheet" href="https://use.typekit.net/ngv6hmh.css">
    <title>Kaktus</title>
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <header> 
     <Header></Header>
    </header>
<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">VELKOMMEN TIL KAKTUS</h1>
    <p class="hero-subtitle">DIN GRØNNE FRISØR I HJERTET AF KØBENHAVN</p>
    <p class="hero-description">
      Hos Kaktus får du professionel behandling i afslappede og hyggelige omgivelser,
      hvor bæredygtige valg, faglighed og nærvær går hånd i hånd.
    </p>
    <a class="btn-book" href="https://kaktus.planway.com/" target="_blank" rel="noopener">
      BOOK TID
    </a>
  </div>
</section>
<Indextext>
<Banner />
<Footer />
  </body>
</html>


