<div class="banner">
    <p class="banner-text">
        HVAD SIGER VORES KUNDER OM KAKTUS
    </p>
  </div>
  <style>
    .banner {
  width: 100%;
  background-color: #D6C0B3;
  text-align: center;
  overflow: hidden;
  padding: 10px 0;
}

.banner-text {
  font-family: fino-sans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;

  white-space: nowrap;
  display: inline-block;
  animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .banner-text {
    font-size: 14px;
  }
}

  </style>
  